<h1>New Article</h1>
<!-- <% @article.errors.full_messages_for(:title).each do |message| %>
     <div><%= message %></div>
 <% end %>
 
 <% @article.errors.full_messages_for(:body).each do |message| %>
     <div><%= message %></div>
 <% end %>
<!-->
<%= render "form", article: @article %>